.container{
  display: flex;
  flex-direction: column;
  margin: 2vw 2vh;
}

.clean-button{
  text-decoration: none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 60px 100px 60px;
}

.input{
  margin: 10px auto 10px auto;
}

.login_button{
  text-decoration: none;
  width: 100%;
}

.login_body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_wrap{
  margin-top: 2vh;
  flex-grow: 1;
  max-width: 80vw;
}

.login_footer{
  flex-shrink: 0;
  margin: 2vw;
  font-size: 14px;
  width: 80vw;
}

.login_logo{
  width: 25vw;
}

.logoBar {
  display: flex;
  justify-content: center;
}

.login_namefield{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.logo-small{
  width:15vw;
}


.toggle_addName{
  padding-right: 10px;
}

.home_text{
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#username_group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.submit_button{
  margin-top: 20px;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}