.blue {
  color: #00758d;
}

.center {
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 2vw 2vh;
  align-items: center;
}

.clean-button{
  text-decoration: none;
  width: 8vw;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.form-bullet {
  padding-left: 15px;
}

.form-action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.input{
  margin: 10px auto;
}

.login_button{
  text-decoration: none;
  margin-top: 40px;
  width: 200px;
}

.login_wrap{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}


.login_logo{
  width: 400px;
}

.logoBar {
  display: flex;
  justify-content: center;
}

.login_namefield{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
}


.logo-small{
  width: 400px;
}


.toggle_addName{
  padding-right: 10px;
}

.home_info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.home_text{
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.home_card_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.not_found_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 1.2rem;
}

.submit_button{
  margin-top: 20px;
}

.submit-footer-container {
  margin-top: 30px;
}

.submit-thank-logo {
  object-fit: scale-down;
  height: 90px;
}

.submit-entered-logo {
  object-fit: scale-down;
  height: 70px;
  margin-top: 50px;
}

.prize-footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.prize-item{
  margin: 5px 0px;
}

.prize-logo {
  width: 250px;
  object-fit: scale-down;
}

.verify_back_button{
  position: absolute;
  width: 200px;
  left: 10vw;
  margin-top: 2vh;
}

.verify_save_button{
  width: 200px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}